<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>ZER02WO - BLOG</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container">
      <p>Hello World</p>
    </div>

    <%= JSON.stringify(user) %> <%- include('partials/scripts') %>
  </body>
</html>
